<button type="button" class="btn btn-outline-dark"><%= link_to 'Volver al listado', sucursals_path %></button>
<h2>Agregar un nuevo horario para la sucursal: <%= @sucursal.nombre %></h2>
<%= form_with model: @horario do |form| %>
    <% if !@horario.nil? %>
        <% @horario.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% end %>
        <% end %>
    <div class="form-group">
        <%= form.label :Dia %>
        <%= form.select :dia, ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes"] %>
    </div>

    <div class="form-group">
        <%= form.label :hora_inicio %>
        <%= form.time_field :hora_inicio %>
    </div>
    
    <div class="form-group">
        <%= form.label :hora_fin %>
        <%= form.time_field :hora_fin %>
    </div>

    <%= form.hidden_field :sucursal_id, value: @sucursal.id %>


    <%= form.submit 'guardar' %>


<%end%>