<%= link_to 'Añadir un nuevo usuario', new_usuario_path %>
<h1>Usuarios:</h1>
<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Role</th>
    <th>Ver</th>
    <th>Editar</th>
  </tr>
  <% @usuarios.each do |usu| %>
  <tr>
    <td> <%= usu.nombre %> </td>
    <td> <%= usu.email %> </td>
    <td> <%= usu.role %> </td>
    <td>
    <%= link_to usuario_path(usu.id) do %>
        <span>Ver usuario</span>
    <%end%>
    </td>
    <td>
    <%= link_to edit_usuario_path(usu.id) do %>
        <span>Editar usuario</span>
    <%end%>
    </td>
  </tr>
  <%end%>
  
</table> 
