<button type="button" class="btn btn-outline-dark"><%= link_to 'Añadir un nuevo usuario', new_usuario_path %></button>
<h1>Usuarios:</h1>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Role</th>
    <th>Ver</th>
    <th>Editar</th>
  </tr>
  <% @usuarios.each do |usu| %>
  <tr>
    <td> <%= usu.nombre %> </td>
    <td> <%= usu.email %> </td>
    <td> <%= usu.role %> </td>
    <td>
    
    <%= link_to usuario_path(usu.id) do %>
    <button type="button" class="btn btn-secondary"> 
        <span>Ver usuario</span>
        </button>
    <%end%>
    
    </td>
    <td>
    <%= link_to edit_usuario_path(usu.id) do %>
    <button type="button" class="btn btn-primary">
        <span>Editar usuario</span>
    </button>    
    <%end%>
    </td>
  </tr>
  <%end%>
  
</table> 
