<h1>Sucursales en las cuales puede solicitar turno:</h1>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Horarios</th>
    <th>Solicitar Turno</th>

  </tr>
  <% @sucursales.each do |su| %>
   <% if !(su.horario.empty?) %>
    <tr>
    <td> <%= su.nombre %> </td>
    <td> <%= su.direccion %> </td>
    <td> <%= su.telefono %> </td>
    <td>
    <%= link_to horario_path(su.id) do %>
      <button type="button" class="btn btn-primary"> 
        <span>Ver horarios de la sucursal</span>
      </button>
    <%end%>
    </td>
    <td>
    <%= link_to new_turno_path(su.id) do %>
      <button type="button" class="btn btn-primary"> 
        <span>Solicitar Turno</span>
      </button>
    <%end%>
    </td>
    </tr>
    <%end%>
  <%end%>
  
</table> 