<% if current_usuario.role == "Administrador"%>
  <button type="button" class="btn btn-outline-dark"><%= link_to 'Añadir una sucursal', new_sucursal_path %></button>
<% end %>
<h1>Sucursales:</h1>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Detalles</th>
    <th>Ver horario</th>
    <% if current_usuario.role == "Administrador"%>
      <th>Agregar horario</th>
      <th>Eliminar</th>
      <th>Editar</th>
    <% end %>

  </tr>
  <% @sucursales.each do |su| %>
    <tr>
    <td> <%= su.nombre %> </td>
    <td> <%= su.direccion %> </td>
    <td> <%= su.telefono %> </td>
    <td>
    <%= link_to sucursal_path(su.id) do %>
      <button type="button" class="btn btn-secondary"> 
        <span>Ver sucursal</span>
      </button> 
    <%end%>
    </td>
    <td>
    <%= link_to horario_path(su.id) do %>
      <button type="button" class="btn btn-primary"> 
        <span>Ver horarios de la sucursal</span>
      </button>
    <%end%>
    </td>
    <% if current_usuario.role == "Administrador"%>
      <td>
      <%= link_to new_horario_path(su.id) do %>
        <button type="button" class="btn btn-primary"> 
          <span>Agregar horario</span>
        </button> 
      <%end%>
      </td>
      <td>
      <%= button_to 'Eliminar sucursal', destroy_sucursal_path(su.id),method: :delete , class:'btn btn-danger' %>
      </td>
      <td>
      <%= link_to edit_sucursal_path(su.id) do %>
        <button type="button" class="btn btn-primary"> 
          <span>Editar sucursal</span>
        </button>
      <%end%>
      </td>
    <% end %>
    </tr>
  <%end%>
  
</table> 