<button type="button" class="btn btn-outline-dark"><%= link_to 'Volver al listado', sucursals_path %></button>
<h1>Detalles de la sucursal: <% @sucursal.nombre %></h1>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Horarios</th>
  </tr>
    <tr>
    <td> <%= @sucursal.nombre %> </td>
    <td> <%= @sucursal.direccion %> </td>
    <td> <%= @sucursal.telefono %> </td>
    <td>
    <%= link_to horario_path(@sucursal.id) do %>
      <button type="button" class="btn btn-primary"> 
        <span>Ver horarios de la sucursal</span>
      </button>
    <%end%>
    </td>
    </tr>  
</table> 