<h1>Editar turno</h1>
<h2>Estos son los dias y horarios de atencion de la sucursal <%= @sucursal.nombre%></h2>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Dia</th>
    <th>Hora de inicio</th>
    <th>Hora de fin</th>
  </tr>
  <% @sucursal.horario.each do |ho| %>
    <tr>
    <td> <%= ho.dia %> </td>
    <td> <%= ho.hora_inicio.strftime("%H:%M")  %> </td>
    <td> <%= ho.hora_fin.strftime("%H:%M")  %> </td>
    <td>
    </tr>
  <%end%>
  
</table> 

<h2>Modificar Turno</h2>
<%= form_with model: @turno do |form| %>
    

    <div class="form-group">
        <%= form.label :fecha %>
        <%= form.date_field :fecha%>
    </div>

    <div class="form-group">
        <%= form.label :hora %>
        <%= form.time_field :hora%>
    </div>
    
    <div class="form-group">
        <%= form.label :motivo %>
        <%= form.text_field :motivo%>
    </div>
    <div>
        <%= form.hidden_field :sucursal_id, value: @sucursal.id%>
    </div>

    <div>
        <%= form.hidden_field :estado, value: "Pendiente"%>
    </div>


    <%= form.submit "Actualizar Turno" %>


<%end%>