<!DOCTYPE html>
<html>
  <head>
    <title>RubyIntegrador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <body id="page-top">
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <%= link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center"  do %>
          <div class="sidebar-brand-text mx-3"> SuperPrestamos Fabbi </div>
        <%end%>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
          Módulos
        </div>

        <%- if usuario_signed_in? %>
          <li class="nav-item">
          <%= link_to usuario_path(current_usuario.id), class: "nav-link"  do %>
              <i class="fas fa-fw fa-tags"></i>
              <span>Ver mis datos</span>
              <%end%>
          </li>

          <li class="nav-item">
          <%= link_to edit_usuario_registration_path, class: "nav-link"  do %>
              <i class="fas fa-fw fa-tags"></i>
              <span>Cambiar mi contraseña</span>
              <%end%>
          </li>



          <% if current_usuario.role == "Cliente"%>
            <li class="nav-item">
            <%= link_to sucursals_turnos_path, class: "nav-link"  do %>
                <i class="fas fa-fw fa-tags"></i>
                <span>Necesitas un prestamo?</span>
                <%end%>
            </li>
            <li class="nav-item">
            <%= link_to turnos_path(estado: "Pendiente"), class: "nav-link"  do %>
                <i class="fas fa-fw fa-tags"></i>
                <span>Turnos pendientes</span>
                <%end%>
            </li>
            <li class="nav-item">
            <%= link_to turnos_path(estado: "Atendido"), class: "nav-link"  do %>
                <i class="fas fa-fw fa-tags"></i>
                <span>Turnos Finalizados</span>
                <%end%>
            </li>
          <%end%>




          <% if current_usuario.role == "Personal Bancario"%>
            <li class="nav-item">
              <%= link_to sucursals_path, class: "nav-link"  do %>
                <i class="fas fa-fw fa-users"></i>
                <span>Ver Sucursales</span></a>
                <%end%>
            </li>
            <li class="nav-item">
              <%= link_to turnos_path(estado: "Pendiente"), class: "nav-link"  do %>
                <i class="fas fa-fw fa-users"></i>
                <span>Turnos Pendientes</span></a>
                <%end%>
            </li>
            <li class="nav-item">
              <%= link_to users_path(role: "Cliente"), class: "nav-link"  do %>
                <i class="fas fa-fw fa-shopping-basket"></i>
                <span>Ver Clientes</span>
                <%end%>
            </li>
          <% end %>



          <% if current_usuario.role == "Administrador"%>
            <li class="nav-item">
              <%= link_to sucursals_path, class: "nav-link"  do %>
                <i class="fas fa-fw fa-users"></i>
                <span>Ver Sucursales</span></a>
                <%end%>
            </li>
              <li class="nav-item">
                <%= link_to users_path, class: "nav-link"  do %>
                  <i class="fas fa-fw fa-shopping-basket"></i>
                  <span>Ver Usuarios</span>
                  <%end%>
              </li>
          <% end %>



        <% end %>
        </ul>
      <!-- End of Sidebar -->
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
           
              <div class="topbar-divider d-none d-sm-block"></div>
              <% if usuario_signed_in? %>
              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_usuario.nombre %></span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Perfil
                  <div class="dropdown-divider"></div>
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" ></i>
                    Logout
                </div>
              </li>
              <% end %>

            </ul>

          </nav>
          
          <!-- End of Topbar -->
          <div class="container-fluid">
            <%= render 'layouts/header' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
